@page "/register"
@using Gejms.Client.Pages.Account.Models
@using Gejms.Client.Shared.Models
@using Gejms.Shared.Models
@attribute [AllowAnonymous]

@inject UserService UserService
@inject NavigationManager NavigationManager

<div class="card myForm">
    <h4 class="card-header myFormTitle">Register</h4>
    <div class="card-body">
        <EditForm Model="@registerModel" OnValidSubmit="OnRegisterButton">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="registerModel.Username" class="form-control" />
                <ValidationMessage For="@(() => registerModel.Username)" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="registerModel.Password" type="password" class="form-control" />
                <ValidationMessage For="@(() => registerModel.Password)" />
            </div>
            <div class="form-group">
                <label>Repeat Password</label>
                <InputText @bind-Value="registerModel.RepeatedPassword" type="password" class="form-control" />
                <ValidationMessage For="@(() => registerModel.RepeatedPassword)" />
            </div>
            @if (wrongCredentialsTextVisisble)
            {
                <div class="myFormErrorMessage">No nie wiem Rick.</div>   
            }
            <div class="buttonCenterDiv">
                <button disabled="@buttonInactive" class="btn btn-primary">
                @if (buttonInactive) 
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Register
            </button>
            </div>
            
            <div>
                <span style="font-size:0.9em">Back to </span>  <NavLink href="login" class="btn btn-link">Login</NavLink>
            </div>
           
        </EditForm>
    </div>
</div>

@code {
    private CreateUserModel registerModel = new CreateUserModel();

    private bool buttonInactive = false;
    private bool wrongCredentialsTextVisisble = false;

    private async void OnRegisterButton()
    {
        buttonInactive = true;
        wrongCredentialsTextVisisble = false;

        try
        {
            UserDTO userDTO = new UserDTO { Username = registerModel.Username, Password = registerModel.Password };
            await UserService.Register(userDTO);
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            buttonInactive = false;
            wrongCredentialsTextVisisble = true;
            StateHasChanged();
        }
    }
}